# See https://help.github.com/ignore-files/ for more about ignoring files.

# misc
.DS_Store

# editor
.idea
.vscode

# executables
/dxserver
/dxserver_amd64
/dxworker
/dxworker_amd64
/deliverycheck

# local data
.localdata

# configs
.env