@keyframes donatorglow {
  0% {
    box-shadow: 0 0 2px #daa520c9;
  }
  25% {
    box-shadow: -1px 0 2px #daa520c9;
  }
  50% {
    box-shadow: 0 -1px 2px #daa520c9;
  }
  75% {
    box-shadow: 1px 0 2px #daa520c9;
  }
  100% {
    box-shadow: 0 1px 2px #daa520c9;
  }
}

@keyframes donatorglow2 {
  0% {
    box-shadow: 0 0 2px #daa520c9;
  }
  12% {
    box-shadow: -1px 0 3px #daa520c9;
  }
  24% {
    box-shadow: 0 0 2px #daa520c9;
  }
  36% {
    box-shadow: 0 -1px 3px #daa520c9;
  }
  48% {
    box-shadow: 0 0 2px #daa520c9;
  }
  60% {
    box-shadow: 1px 0 3px #daa520c9;
  }
  72% {
    box-shadow: 0 0 2px #daa520c9;
  }
  84% {
    box-shadow: 0 1px 3px #daa520c9;
  }
  96% {
    box-shadow: 0 0 2px #daa520c9;
  }
  100% {
    box-shadow: 0 0 2px #daa520c9;
  }
}

@keyframes donatorglow3 {
  0% {
    box-shadow: 0 0 2px #daa520ed;
  }

  12% {
    box-shadow: -1px 0 3px #daa520c9;
  }
  24% {
    box-shadow: -1px -1px 3px #daa520ed;
  }

  36% {
    box-shadow: 0 -1px 3px #daa520c9;
  }
  48% {
    box-shadow: 1px -1px 3px #daa520ed;
  }

  60% {
    box-shadow: 1px 0 3px #daa520c9;
  }
  72% {
    box-shadow: 1px 1px 3px #daa520ed;
  }

  84% {
    box-shadow: 0 1px 3px #daa520c9;
  }
  96% {
    box-shadow: -1px 1px 3px #daa520ed;
  }

  100% {
    box-shadow: 0 0 3px #daa520c9;
  }
}

@keyframes donatorglow4 {
  0% {
    box-shadow: 0 0 2px #daa520ed;
    border: 1px solid #daa520ff;
  }

  12% {
    box-shadow: -1px 0 3px #daa520c9;
  }
  24% {
    box-shadow: -1px -1px 3px #daa520ed;
  }

  25% {
    border: 1px solid #d5b669;
  }

  36% {
    box-shadow: 0 -1px 3px #daa520c9;
  }
  48% {
    box-shadow: 1px -1px 3px #daa520ed;
  }

  50% {
    border: 1px solid #daa520ff;
  }

  60% {
    box-shadow: 1px 0 3px #daa520c9;
  }
  72% {
    box-shadow: 1px 1px 3px #daa520ed;
  }

  75% {
    border: 1px solid #d5b669;
  }

  84% {
    box-shadow: 0 1px 3px #daa520c9;
  }
  96% {
    box-shadow: -1px 1px 3px #daa520ed;
  }

  100% {
    box-shadow: -1px 0 3px #daa520c9;
    border: 1px solid #daa520ff;
  }
}

@keyframes donatorglow5 {
  0% {
    box-shadow: 0 0 2px #daa520ed;
    border: 1px solid #daa520ff;
  }

  12% {
    box-shadow: -1px 0 3px #daa520c9;
  }
  24% {
    box-shadow: -1px -1px 4px #daa520ed;
    border: 1px solid #d5b669;
  }

  36% {
    box-shadow: 0 -1px 3px #daa520c9;
  }
  48% {
    box-shadow: 1px -1px 4px #daa520ed;
    border: 1px solid #daa520ff;
  }

  60% {
    box-shadow: 1px 0 3px #daa520c9;
  }
  72% {
    box-shadow: 1px 1px 4px #daa520ed;
    border: 1px solid #d5b669;
  }

  84% {
    box-shadow: 0 1px 3px #daa520c9;
  }
  96% {
    box-shadow: -1px 1px 4px #daa520ed;
    border: 1px solid #daa520ff;
  }

  100% {
    box-shadow: -1px 0 4px #daa520c9;
    border: 1px solid #d5b669;
  }
}
