name: Building and Testing
permissions:
  contents: read

on:
  push:
    branches-ignore: [master, dev]
  pull_request:
    branches-ignore: [master, dev]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24

      #      - name: Install build dependencies
      #        run: go get golang.org/x/tools/cmd/stringer

      - name: Compile
        run: make build

      - name: Test
        run: make test
