name: Testing

permissions:
  contents: read

on:
  push:
    branches-ignore: [master, dev]
  pull_request:
    branches-ignore: [master, dev]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: golangci/golangci-lint-action@v9

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26

      - name: Compile
        run: make build

      - name: Test
        run: make test
