ESLINT_USE_FLAT_CONFIG=true

NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_CDN_URL=http://localhost:8000/images

NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_paypal_client_id

# umami analytics (leave empty to disable)
NEXT_PUBLIC_UMAMI_URL=
NEXT_PUBLIC_UMAMI=
