NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_CDN_URL=http://localhost:8000/images
NEXT_PUBLIC_GA=UA-XXXXXXXX-Y

NEXT_PUBLIC_PAYPAL_CLIENT_ID=AZmZ7sL2CdcLzg6Tb86AXKpj4jk1u2cTQRnSdO0SzmG0IMH8kks-V2NoLsIFODrGnGwaxdiv3BU7gdsm